# Exam Insurance - 7

Time: 10 Minutes

Please solve the following exercises. 

*You are not allowed to use any previously solved jupyter-notebooks or other external sources (such as google, own notes, chatgpt). Use the built-in help function instead.*

In [2]:
# Initialize Otter
import otter
grader = otter.Notebook("insurance-8.ipynb")

In [22]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import scipy.stats

### Question 0

What is the number of the blackboard:

In [8]:
class Question0:
    answer = ...

As in the exercise sheet, we are working with the Basel Neighborhood data.

In [9]:
bs = pd.read_csv("basel_neighborhoods.csv", sep=";")
bs.head()

,publikationsjahr,wohnviertel_id,wohnviertel_name,anteil_sozialhilfeempfaenger,anteil_auslaender,anteil_personen_ohne_religionszugehoerigkeit,anteil_personen_in_einpersonenhaushalten,gymnasialquote,altersquotient,anteil_sesshafte,...,baujahr_der_wohngebaeude,anteil_einfamilienhaeuser,anteil_gruenflaechen,flaeche_pro_wohnung,wohnflaeche_pro_person,vermoegenssteuer_pro_veranlagung,einkommenssteuer_pro_veranlagung,erwerbstaetigenquote,arbeitsplaetze_pro_einwohner,arbeitslosenquote
0,2015,1,Altstadt Grossbasel,0.017115,0.251426,0.517930,0.324463,0.777778,0.297921,0.328851,...,1825.400406,0.101626,0.066693,90.808059,55.739958,4297.479726,15795.731129,0.824263,4.354447,0.019072
1,2015,2,Vorstädte,0.031635,0.353328,0.532251,0.345813,0.636364,0.374726,0.279170,...,1899.097967,0.075786,0.194198,81.803421,51.200218,4902.317140,14894.945946,0.779869,4.530718,0.023471
2,2015,7,Bruderholz,0.017662,0.229827,0.458660,0.166817,0.608108,0.442465,0.427310,...,1948.410577,0.734615,0.713769,109.383218,50.067809,8585.686671,18103.101406,0.752834,0.130144,0.023127
3,2015,8,Bachletten,0.022092,0.210320,0.455482,0.224974,0.609137,0.374629,0.421825,...,1934.025590,0.561775,0.408619,93.179580,47.396467,1632.650810,11363.577884,0.790006,0.190061,0.023636
4,2015,10,Iselin,0.089462,0.360277,0.445545,0.284152,0.262357,0.260469,0.331530,...,1937.165632,0.167702,0.375125,68.638626,37.648552,425.867934,6405.308048,0.701177,0.155020,0.042679

## Question 1

Compute the correlation coefficient between "anteil_auslaender" (fraction of foreigners) and 
"anteil_personen_ohne_religionszugehoerigkeit" (fraction of people not identifying as religious).

In [40]:
from scipy import stats as stats

class Question1:
    corr = ...
    print("correlation = ", corr)

correlation =  Ellipsis

In [33]:
grader.check("Question 1")

Question 1 results: All test cases passed!

## Question 2

Compute the mean and standard deviation of the "anteil_auslaender" in the "publikationsjahr" 2015.

In [41]:
class Question2:
    ...
    mean_fraction_foreigners = ...
    stddev_fraction_foreigners = ...
    print(f"mean {mean_fraction_foreigners}, standard dev {stddev_fraction_foreigners}")

mean Ellipsis, standard dev Ellipsis

In [37]:
grader.check("Question 2")

Question 2 results: All test cases passed!

## Question 3

Compute the probability $P(X - 0.5 > 1.5)$, assuming $X$ follows a standard normal distribution.

In [42]:
class Question3:
    ...
    p_value = ...
    print(p_value)

Ellipsis

In [43]:
grader.check("Question 3")

Question 3 results:
    Question 3 - 1 result:
        ❌ Test case failed
        Error at line 15 in test Question 3:
              assert_true(lb < p_value < ub)
        TypeError: <' not supported between instances of 'float' and 'ellipsis